language: node_js
sudo: required

addons:
  firefox: latest

branches:
  only:
    - master
    - /^[0-9]+\.[0-9]+\.[0-9]+.*/

before_install:
 - sudo cp ./ssl/skyux-ca.crt /usr/local/share/ca-certificates/skyux-ca.crt
 - sudo update-ca-certificates

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start

after_success:
  - bash <(curl -s https://codecov.io/bash)
  - bash <(curl -s https://blackbaud.github.io/skyux-travis/after-success.sh)
