<!--
THIS PAGE IS FOR LOCAL DEVELOPMENT ONLY.
It is never actually called when using the host service.
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <base href="/">
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <sky-pages-app>Loading...</stache-app>
</body>
</html>
